# Cmake Files
CMakeFiles
CMakeScripts
CMakeCache.txt
Makefile
cmake_install.cmake
ALL_BUILD*
ZERO_CHECK*

# VS Code
.vscode/
*.exe
.cmake/
compile_commands.json

# Testing
*.log

# Release
24hourAstroids/
24hourAstroids.zip